header{
    height: 100vh;
    background: url(img/);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    

}
header nav{
    position: fixed;
    font-size: 16px;
     top: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0,0,0,1);
    margin: 15px;    
}
/******************************************Début séction 1************************************************/
#permaculture {  /*id section*/
    height: 75vh;

}

.focus { /*id de la div de la première section*/
    display: flex;
    align-items: stretch;
    width: 80%;
    
}

#legumesSec1 {/*id de la figure*/
    
    margin: 0; /* Remove margin to prevent unwanted space */
    padding: 0; /* Remove padding */
    max-width: 50%; /* Each image takes up half of the section width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5%;
    
}

