body{

    background-image: url(../img/background.png);
    background-size: cover;
    background-attachment: fixed;

    }

/***** header**** */
header {
    height: 100vh;
    background: url(../img/couple-senior-recolte-carottes.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoheader {
    width: 180px;
    /* margin-bottom: 290px; */
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
    color:#294936;
    z-index: 1000;
    a{
     color: #294936;
     }
}

nav ul {
    background: #F7F4F3;
    width: 30vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: solid 1px #294936;    
    border-radius: 5px;

}


/******************************************Début séction 1************************************************/
#permaculture {
    border: 10px solid #294936;
    background-color: rgba(247, 244, 243,0.5);
    align-items: center;
    height: auto;
    padding: 30px;
    
}

    h1 {
    font-size: 42px;
    color: #482728;
    margin-bottom: 20px;
   
    }

    
    h4 {
    font-size: 15px;
    color: black;
    margin-bottom: 15px;
}

    p{
     font-size: 12px;
     line-height: 20px;
    }



#legumesSec1 {
    width: 100%;

}

#legumesSec1 img {
    width: 100%;
    border-radius: 5px;
}

.div-figure {
    width: 50%;
    padding: 40px;
}



#sec1P {
    width: 50%;
    text-align: justify;

}

#sec1P h1,
#sec1P h2,
#sec1P p {
    margin: 10px 0;
}

#sec1P p{
color: #294936;
}


/****** section2 ******/

#presentation {
    border: 10px solid #294936;
    /*background-color: #F7F4F3;*/
    background-color: rgba(247, 244, 243,0.5);
    height: auto;

}

.focus.video{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.video {
    /* its focus + video to diffrentiate between other focus tags*/
    align-items: center;
   
}


#video {
    
    width: 40%;
    height: auto;
    align-items: center;

}

#videotitle {
 padding-left: 30px;
}



#videotitle h4 {
    font-size: 50px;
    color: #482728;
    align-items: center;
}

iframe{

    border-radius: 5px;
}


#videotitle h5 {
    font-size: 30px;
    color: black;
    align-items: center;

}

/******SECTION 3******/

#missions {
    /*background-color: #294936;*/
    background-color : rgba(41, 73, 54,0.94);
}
#PermaBasics {
    height: auto;
}
#PermaBasics .cards {
    width: 30%;
    height: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: block;
}

.cards:hover{
    background: rgba(0, 0, 0, 0.5);

}


#PermaBasics .cards:nth-of-type(2) {
    margin-left: 50px;
}
#PermaBasics .cards:nth-of-type(3) {
    margin-left: 50px;
}


#PermaBasics .cards figure {
    height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 2px;
}

#PermaBasics  .cards:nth-of-type(1) figure {

    background-image: url(../img/permahh.png);
    background-position: center center;
}
#PermaBasics  .cards:nth-of-type(2) figure {

    background-image: url(../img/animaux.png);
    background-position: center center;
}
#PermaBasics  .cards:nth-of-type(3) figure {

    background-image: url(../img/permaculturehumaine.png);
    background-position: center center;
}
#PermaBasics .container {
    display: flex;
    width: 90%;
    margin: auto auto;
}
#PermaBasics h3{
padding-top: 10px;
font-size: 22px;
color: #482728;
}

#PermaBasics p{
    color:#294936
    }
    #PermaBasics h2 {
    text-align: center;
    color: #482728;
    font-size: 30px;
    padding-top: 15px;
}
#missions {
    /*background-color: #294936;*/
    background-color : rgba(41, 73, 54,0.94);
}

#missions .cards {
    width: 50%;
    
    margin-top: 20px;

    justify-content: space-between;
   
}
 
#missions .cards:nth-of-type(2) {
    margin-left: 30px;
}

#missions .cards figure {
    height: 300px;
    background-size: cover;
    background-position: center center;
    border-radius: 2px;
}

#missions .cards:nth-of-type(1) figure {

    background-image: url(../img/photomainenfant.jpeg);
    background-position: center;

}

#missions .cards:nth-of-type(2) figure {
    background-image: url(../img/photomainadulte.jpeg);
    background-position: center;

    transition: transform .2s;
}

 .cards figure:hover {
    -ms-transform: scale(0.980); /* IE 9 */
  -webkit-transform: scale(0.980); /* Safari 3-8 */
  transform: scale(0.980);
}
#missions h2 {
    text-align: center;
    color: #E1F690;
    font-size: 30px;
    padding-top: 15px;
}

#missions h3 {
    margin: 10px;
    color: #E1F690;
    font-size: 22px;
}

#missions p {
    color: #F7F4F3;
    font-size: 12px;
    text-align: justify;
}

#missions .container {
    display: flex;
    width: 90%;
    margin: auto auto;
}

#missions button {
    padding: 10px;
    border: none;
    background-color: #482728;
    border-radius: 5px;
    margin: 10px;
    margin-top: 30px;
    font-size: 12px;
}

#missions button:hover {
    background-color: #7D4345;
}
.cards .btnVisite {
    align-self: flex-end;
}

#missions {
    height: auto;
}
.hashtags {
    height: 20%;
}

#missions a{
color: #F7F4F3;
}
/* FOOTER */
footer {
    display: flex;
    z-index: 100;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #F7F4F3;
    height: 40vh;


    h3 {
        margin-bottom: 20px;
        font-size: 22px;
        color: #482728;
    }

    img {
        padding-left: 10px;
        padding-bottom: 10px;
        width: 24px;
    }

    ul li {
        display: flex;
        color: #482728;
        font-size: 16px;
    }

    p{
        color: #482728;
        font-size: 12px;
        text-align: justify;
        font-weight: bold;
    }

}

footer a{

    color: #482728;
}

footer div {
    width: 33%;
}

#logoDivFooter {
    margin-left: 10px;
}

#logoFooter {
    width: 100px;
}
footer {
    background-image: url(../img/backFoot.png);
    background-size: cover;
  background-position: -230px;
}

/*******************************************Début mentions légales***************************************************/
/*********Titre de la page******************/
#headerMLeg {
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#menLeg h1 {
    color:#482728;
    font-size: 30px;
    text-align: center;
}
#mainMentions {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    

}

.scroll-section {
    max-height: 70vh;
    overflow-y: scroll;
    text-align: justify;
    padding: 20px;
    margin:5%;
}
.gros-paragraphe {
    font-size: 18px; 
    line-height: 1.52; 
}
.gros-paragraphe p {
    color: #482728;
}

@media screen AND (max-width: 600px){

    html, body {
        width: 100%;
        margin: 0;
    }


    header {
        background: url(../img/couple-senior-recolte-carottes.jpg);
        background-size: cover;
        text-align: center;
        background-position: center center;
    }
    
    nav {
        position: fixed;
        background-color: white;
        bottom: 0;
        width: 100%;
        font-size: 16px;
        color:#294936;
        flex-direction: column;
        ul {
            width: 90vw;
      margin: 0 auto;
        }
    }

    #permaculture{
        flex-direction: column;
        

        h1{
            font-size: 30px;
        }
    }

    footer{
        flex-direction: column;
        height: auto;
   
        div{
            margin-bottom: 30px;
        }

        
    }

    #presentation 
    {
        .video{
            flex-direction: column;
        }
        #video {
            width: 90%;
            padding: 0;
        }
        #videotitle {
            width: 100%;
        }
    }

    #sec1P {
        width: 100%;
        text-align: justify;
    
    }

    .div-figure {
        width: 100%;

    }

    #missions {
        height: auto;
        .container {
            flex-direction: column;
        }

        .cards {
            width: 100%;
        }
        .cards:nth-of-type(2) {
            margin: 20px 0;
        }
    }
        
    #PermaBasics .container{
           
            flex-direction: column;
            padding: 0px;
    }

    #PermaBasics .cards {
        width: 100%;
    }

    #PermaBasics .cards:nth-of-type(2) {
        margin:  0;
    }

    #PermaBasics .cards:nth-of-type(3) {
        margin:  0;
    }
}
