
/***** header**** */
header{
    height: 100vh;
    background: url(../img/couple-senior-recolte-carottes.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
}

header nav{
    position: fixed;
    font-size: 16px;
     top: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    margin: 15px;    
}
/******************************************Début séction 1************************************************/



#legumesSec1 {/*id de la figure*/
    
    
    max-width: 50%; /* Each image takes up half of the section width */
    height: auto; /* Maintain aspect ratio */
  
    
}

#sec1P {
    max-width: 40%; 
}
/* *****section2 ******/

#video {
    height: 100%;
    width: 50%;


}

#videotitle {
    height: 100%;
    width: 50%;

}

/******section3***** */

#missions{
    border: 2px solid pink;
}
#missions .cards{
    border: 2px solid salmon;
    width: 50%;
}
#missions .focus {
    border: 2px solid blue;
}
#colonnes{
    border: 2px solid brown;
    display: flex;
    padding: 5px;
    gap: 20px;
}
/* FOOTER */